.topRatedMovies {
  // background:#a6a4a4;
  padding: 5rem 0;

  @include respond(phone) {
    padding: 2rem 0;
  }
  &__Header {
    margin-bottom: 5rem;
    margin-left: 4rem;
    color: #ebb446;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Potta One", cursive;

    @include respond(phone) {
      width: 80%;
      margin-left: 0rem;
      background: #55575c;
      margin-bottom: 2.5rem;
      padding: 1.8rem 0.6rem;
      font-size: 2.5rem;
      text-align: center;
      border-radius: 0px 50px 50px 0px;
    }
  }

  &__Content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
    margin: 0 4rem;
    font-size: 1.7rem;
    line-height: 150%;

    @include respond(phone) {
      display: flex;
      overflow-x: scroll;
      grid-gap: 2rem;
      margin: 0 2rem;
    }

    &--Card {
      transition: all 0.5s ease-in-out;
      background: #252525;
      color: #ffffff;

      @include respond(phone) {
        flex-shrink: 0;
        border: none;
        background: #121212;
      }

      &__Video {
        border: none;
        width: 100%;

        @include respond(phone) {
          height: 160px !important;
        }
      }
      &__Overview {
        display: none;
        @include respond(phone) {
          display: none;
        }
      }
    }

    &--Card:hover {
      transform: scale(1.14);
      z-index: 5;
      cursor: pointer;
      background: #ebb446;
      color: #000000;

      @include respond(phone) {
        transform: scale(1);
        z-index: 0;
        border-radius: 0px;
      }
    }
  }

  &__Content::-webkit-scrollbar {
    display: none;
  }

  &__Content {
    scrollbar-width: none;
  }

  &__SeeMore {
    margin-top: 5rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: "Potta One", cursive;

    @include respond(phone) {
      margin-right: 2rem;
    }

    &--Btn {
      border: none;
      background: #121212;
      font-weight: 600;
      font-size: 2rem;
      color: #1670f7;
      font-family: "Wellfleet", cursive;

      @include respond(phone) {
        background: #3f3f3f;
      }
    }

    &--Btn:hover {
      cursor: pointer;
    }

    &--Btn:focus {
      outline: none;
    }
  }
}
